/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #483c55;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header */
.header {
  background-color: #483c55;
  padding: 10px 0;
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* Hero Section */
.hero {
  background-image: url('https://s3.amazonaws.com/img.iluria.com/product/92555A/1753ABD/450xN.jpg');

  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  padding: 100px 20px;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #483c55;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #483c55;
}

/* About Section */
.about {
  padding: 60px 20px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

/* Features Section */
.features {
  background-color: #000000;
  padding: 60px 20px;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #483c55;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

/* Pricing Section */
.pricing {
  padding: 60px 20px;
  text-align: center;
}

.pricing h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.pricing-plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.plan {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.plan h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.plan p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.plan ul {
  text-align: left;
}

.plan ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Contact Section */
.contact {
  background-color: #000000;
  padding: 60px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;

}